<ion-view title="oefening">
  <ion-content class="has-header">
	  <header class="single">
	  	<div class="head_score s{{oefeningen[stateParams[0].oefeningId].score}}"><div>{{oefeningen[stateParams[0].oefeningId].score}}</div></div>
	  	<div class="head_box">
		  	<h1>{{oefeningen[stateParams[0].oefeningId].oefening}}</h1>
		  	<span>{{oefeningen[stateParams[0].oefeningId].responsprev}}</span>
	  	</div>
	  </header>
	  <div class="graph_header"></div>
	  <div class="graph" data-graph="{{oefeningen[stateParams[0].oefeningId].details.all_scores}}">
	  	<div class="count">
	  	</div>
	  	<div class="graph_points">
	  	</div>
	  </div>
	  <div class="graph_x-as">Datum</div>
	  <div class="backlog" >
	  	<div class="backlog_line"></div>
	  	<div ng-repeat="log in oefeningen[[stateParams[0].oefeningId]].details.backlog" class="log">
	  		<div class="log_score s{{log.fear_score}}"><div>{{log.fear_score}}</div></div>
	  		<div class="middle_line"></div>
	  		<div class="text">
	  			<div class="date">{{log.date}}</div>
	  			<div class="log_text">{{log.log}}</div>
	  		</div>
	  	</div>
	  </div>
  </ion-content>
</ion-view>
