<ion-view title="Oefeningen">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="list_oefeningen" ng-repeat="oefening in oefeningen" href="#/app/oefening/{{oefening.id}}">
        <div class='list_score s{{oefening.score}}'>{{oefening.score}}</div><div class="list_oefening">{{oefening.oefening}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
