<ion-view title="Post test">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>postlist</h1>

    <div ng-app="ionicApp" ng-repeat="post in posts">
		<div><span>{{post.id}} </span>{{post.post}}</div>
	</div>
		
<div ng-controller="postCtrl">
  <form novalidate class="simple-form">
    Post: <input type="text" ng-model="post.text" /><br />
    <button name="add" ng-click="input(post)">SAVE</button>
  </form>
<!--   <pre>master = {{master | json}}</pre>
 --></div>

  </ion-content>
</ion-view>
