/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold-webfont.eot');
    src: url('font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold-webfont.woff2') format('woff2'),
         url('font/opensans-semibold-webfont.woff') format('woff'),
         url('font/opensans-semibold-webfont.ttf') format('truetype'),
         url('font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff2') format('woff2'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/opensans-regular-webfont.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('font/opensans-bold-webfont.eot');
    src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold-webfont.woff2') format('woff2'),
         url('font/opensans-bold-webfont.woff') format('woff'),
         url('font/opensans-bold-webfont.ttf') format('truetype'),
         url('font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: 'open_sansregular';
    color: #454545;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'open_sansbold';
}

/*All colours*/
.s100 {background-color: #442d49;}
.s90 {background-color: #66436d;}
.s80 {background-color: #885991;}
.s70 {background-color: #a03744;}
.s60 {background-color: #c14f59;}
.s50 {background-color: #e27a83;}
.s40 {background-color: #e2a02b;}
.s30 {background-color: #f3b64d;}
.s20 {background-color: #2f8c5f;}
.s10 {background-color: #3eba7f;}

.bar.bar-stable {
	background-color: #28bbe8;
	border: none;
}
.bar.bar-stable .title, .bar-stable .button.button-clear, .bar-stable .button, .bar .title, .bar .button {
	color: #fdfdfd;
}
.button .icon {
    color: white;   
}

/*Lijst oefeningen */

.list_oefeningen a.item-content {
    padding: 0;
    height: 5em;
}
.list_oefeningen:nth-child(even)  a{
    background-color: #F4F4F4;
}
.list_oefeningen {
    border: none;
}
.list_score {
    padding: 10px 0;
    width: 40px;
    text-align: center;
    color: white;
    font-family: 'open_sanssemibold';
    font-size: 18px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    margin-left: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    margin-left: 1em;
}
.list_box {
    margin-left: 4em;
    padding: 1em;
}
.list_oefening {
    font-family: 'open_sansbold';
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_responsprev {
    color: #A0A0A0;
    margin-top: 6px;
}


/*single oefening - header */
.single {
	height: 7em;
	padding: 1em;
    line-height: 5em;
    position: relative;
}
.single .head_score {
    width: 5em;
    height: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.single .head_score div{
	display: table;
	margin: auto;
	font-size: 2em;
	vertical-align: middle;
	position: relative;
	color: #fdfdfd;
}
.head_box {
    margin-left: 6em;
}
.single h1 {
    font-size: 16px;
    display: block;
    margin: 0;
    font-family: 'open_sanssemibold';
    vertical-align: top;
    line-height: normal;
}
.head_box span {
    display: block;
    line-height: normal;
    margin-top: 0;
    color: #a0a0a0;
}

/*.head_box {
margin: auto;
position: absolute;
top: 0;
bottom: 0;
display: table;
left: 7em;
}*/

/*single oefening - graph*/
.graph_header {
    height: 4em;
    width: 100%;
    background-color: #f4f4e9;
    padding: 1em;
}
.graph_header h2 {
    font-size: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-bottom: 0;
}
.graph_header .score {
    width: 2em;
    height: 2em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    display: inline-block;
    font-size: 16px;
    margin-top: -2px;
}
.graph_header .score div {
    display: table;
    margin: auto;
    font-size: 20px;
    top: 4px;
    position: relative;
    color: #fdfdfd;
}
.graph {
    height: 300px;
    width: 100%;
    position: relative;
    padding: 1em;
    background-color: #f4f4e9;
}
.count {
    float: left;
    width: 100%;
}
.count div.graph_numb {
    line-height: 14px;
    font-size: 16px;
    position: relative;
}

div.graph_line {
    display: block;
    width: 93%;
    height: 1px;
    margin-left: 2em;
    position: absolute;
    top: 7px;
    border-top: 1px dashed #e2e2e2;
}

.graph_points {
    height: 100%;
    width: 90%;
    margin-left: 10%;
    position: relative; 
    z-index: 10;
}
.graph_point {
    position: absolute;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    background-color: #454545;
}
.graph_x-as {
    border-top: 1px solid;
    width: 90%;
    margin-left: 6%;
}

/*single oefening - backlog*/

.log {
    padding: 1em;
    position: relative;
}
.log_score {
    width: 2em;
    height: 2em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}
.log_score div {
    display: table;
    margin: auto;
    font-size: 20px;
    top: 6px;
    position: relative;
    color: #fdfdfd;
}
.middle {
    width: 5px;
    height: 175px;
    display: inline-block;
}
.text {
    display: inline-block;
    vertical-align: top;
    margin-left: 3em;
    width: 87%;
    border: 1px solid #A0A0A0;
    padding: 1em;
    background-color: white;
}
.log_text {
    margin-top: 1em;
    line-height: normal;
}
.date {
    font-family: 'open_sanssemibold';
    font-size: 15px;
}
.backlog {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 16px;
    position: relative;
}
.backlog_line {
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #A0A0A0;
    left: 2em;
    z-index: -1;
}
.middle_line {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4em;
    height: 1px;
    border-top: 1px solid #A0A0A0;
    z-index: -1;
}

/* Orange Theme */

.orange_theme {
    background-color: #FA6900;
}